<h1>Users list</h1>

<div class="search-box">
  <input type="text" nz-input placeholder="Search" nzShape="round" [(ngModel)]="searchValue" (ngModelChange)="search()" />

  <nz-divider nzType="vertical"></nz-divider>

  <button nz-button nzSize="small" nzType="primary" nzShape="round" (click)="search()" class="search-button">
    <span nz-icon nzType="search"></span>
    Search</button>

  <nz-divider nzType="vertical"></nz-divider>
  
  <button nz-button nzSize="small" nzType="primary" nzShape="round" (click)="restoreSearch()">
    <span nz-icon nzType="close"></span>
    Reset search</button>
</div>


<nz-segmented [nzOptions]="schemaListNames" (nzValueChange)="schemaChangeEvent($event)"></nz-segmented>


<nz-table #basicTable [nzData]="usrList">

  <thead>
    <tr>
      <th *ngFor="let header of mainSchema.properties">{{header[0]}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let usr of usrList;" >
    <tr *ngIf="isMySchema(usr)" (click)="navigate_user_details(usr)">
    <!-- <tr *ngFor="let usr of usrList; let i = index" [attr.data-index]="i" (click)="navigate_user_details(i)"> -->
      <td *ngFor="let prop of mainSchema.properties; let j = index" [attr.data-index]="j">

        <div nz-col *ngIf="isMySchema(usr) && (prop[1].getType()===type.TEXT || prop[1].getType()===type.NUMBER) ">{{getUserProp(usr, prop)}}</div>

        <!-- check if the user agree the schema selected or the schema is the universal. check this column is a Check propertie and check if the user has this propertie to be shown -->
        <label *ngIf="isMySchema(usr) && prop[1].getType()===type.CHECKBOX && getUserProp(usr, prop)!='-'" nz-checkbox [ngModel]="getUserProp(usr, prop)"
          name="checked"></label>

        <!-- check if the user agree the schema selected or the schema is the universal. check this column is a Check propertie and check if the user has this propertie to be shown -->
        <nz-date-picker *ngIf="isMySchema(usr) && prop[1].getType()===type.DATE && getUserProp(usr, prop)!='-'" [ngModel]="getUserProp(usr, prop)"
          [ngModelOptions]="{standalone: true}"></nz-date-picker>


      </td>
    </tr>
    </ng-container>
  </tbody>
</nz-table>