<h1>Users list</h1>

<div class="search-box">
  <input type="text" nz-input placeholder="Search" nzShape="round"[(ngModel)]="searchValue"/>

  <nz-divider nzType="vertical"></nz-divider>

  <button nz-button nzSize="small" nzType="primary"  nzShape="round" (click)="search()" class="search-button">
    <span nz-icon nzType="search"></span>
    Search</button>

    <nz-divider nzType="vertical"></nz-divider>

  <button nz-button nzSize="small" nzType="primary" nzShape="round" (click)="restoreSearch()">
    <span nz-icon nzType="close"></span>
    Reset search</button>
</div>

<nz-table #basicTable [nzData]="tableValues">

  <!-- <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0">
    <span nz-icon nzType="search"></span>
  </nz-filter-trigger> -->

  <thead>
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableValues; let i = index" [attr.data-index]="i"
     (click)="navigate_user_details(i)">
      <td *ngFor="let value of row"> 
        {{value}}
      </td>
    </tr>
  </tbody>
</nz-table>

