<h1>New user</h1>
<h3>Select the schema</h3>
<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a schema" [(ngModel)]="selectedSchema"
    (ngModelChange)="showSchema()">

    <nz-option *ngFor="let option of schemaList" [nzValue]="option" [nzLabel]="option.name"></nz-option>

</nz-select>

<nz-divider nzType="vertical"></nz-divider>


<div #schemaProperties *ngIf="showSchemaFields">
   <app-user-properties-loader [user]="user" [selectedSchema]="selectedSchema"></app-user-properties-loader>
</div>

<div *ngIf="showSchemaFields">
    <button nz-button nzType="primary" nzShape="round" (click)="saveUser()"><span nz-icon nzType="save"></span>Create new user</button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" nzShape="round" (click)="goBack()"><span nz-icon
            nzType="delete"></span>Cancel</button>
</div>